[tox]
{{^asyncio}}
envlist = py3
{{/asyncio}}
{{#asyncio}}
envlist = py3
{{/asyncio}}

[testenv]
deps=-r{toxinidir}/requirements.txt
     -r{toxinidir}/test-requirements.txt

commands=
{{^asyncio}}
   nosetests \
      []
{{/asyncio}}
{{#asyncio}}
   pytest -v --cov petstore_api
{{/asyncio}}

[testenv:licenses]
basepython = py3
deps =
  pip-licenses
commands =
  pip-licenses \
    --from=mixed \
    --format=csv \
    --output-file=./licenses/license_info.csv
  pip-licenses \
    --from=mixed \
    --format=plain-vertical \
    --with-license-file \
    --no-license-path \
    --output-file=./licenses/license.txt
