# coding: utf-8

"""
    Seldon Deploy API

    API to interact and manage the lifecycle of your machine learning models deployed through Seldon Deploy.  # noqa: E501

    OpenAPI spec version: v1alpha1
    Contact: hello@seldon.io
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from seldon_deploy_sdk.api_client import ApiClient


class HealthcheckServiceApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def healthcheck_service_get_dependency_health(self, dependency, **kwargs):  # noqa: E501
        """List the current health of a specific Seldon Deploy dependency or all of them  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.healthcheck_service_get_dependency_health(dependency, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dependency: (required)
        :return: V1DependencyHealthResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.healthcheck_service_get_dependency_health_with_http_info(dependency, **kwargs)  # noqa: E501
        else:
            (data) = self.healthcheck_service_get_dependency_health_with_http_info(dependency, **kwargs)  # noqa: E501
            return data

    def healthcheck_service_get_dependency_health_with_http_info(self, dependency, **kwargs):  # noqa: E501
        """List the current health of a specific Seldon Deploy dependency or all of them  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.healthcheck_service_get_dependency_health_with_http_info(dependency, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str dependency: (required)
        :return: V1DependencyHealthResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['dependency']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method healthcheck_service_get_dependency_health" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'dependency' is set
        if ('dependency' not in params or
                params['dependency'] is None):
            raise ValueError("Missing the required parameter `dependency` when calling `healthcheck_service_get_dependency_health`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'dependency' in params:
            path_params['dependency'] = params['dependency']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/healthcheck/{dependency}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='V1DependencyHealthResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
